.story-container {
  position: relative;
  background-color: rgb(252, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.story-modal {
  background-color: rgba(249, 245, 245, 0.8);
  color: rgb(249, 245, 245);
}

.story-image {
  width: 709px;
  height: 620px;
  object-fit: cover;
  border-radius: 10px;
}

.story-modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-navigation {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

.story-navigation:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%) scale(1.1);
}

.story-navigation.prev {
  left: 10px;
}

.story-navigation.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.story-progress-bar {
  background-color: #ddb2be;
  height: 2px;
  margin-top: 10px;
  width: 0;
  transition: width 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.story-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2.5rem;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.story-navigation.prev {
  left: -50px;
}

.story-navigation.next {
  right: -50px;
}

.story-navigation:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%) scale(1.1);
}

.story-navigation {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.story-navigation:hover {
  background-color: rgba(19, 2, 15, 0.8);
  color: rgb(143, 134, 134);
}

.story-modal-body {
  background-color: rgb(249, 247, 247);
  color: rgb(197, 182, 182);
}

.story-image-wrapper.active {
  display: flex;
}

.story-image {
  max-width: 400px;
  max-height: 900px;
  object-fit: contain;
}