#drawflow .card-header {
  color: #000053;
  padding: 20px !important;
  margin-bottom: -30px !important;
}
#drawflow .card {
  margin: 10px;
}
#drawflow .text_fields_div {
  margin-top: 20px !important;
}
#drawflow .option_div {
  margin-top: 20px !important;
}
#drawflow .append_controls {
  margin-top: 10px !important;
}
#drawflow .input-group-append {
  padding: 5px !important;
}
#drawflow .controls {
  margin-top: 10px !important;
}

#dynamic_text_div {
  margin-top: 10px !important;
}

.bar-zoom {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}
.bar-zoom svg {
  cursor: pointer;
  padding-left: 10px;
}
.bar-zoom svg:nth-child(1) {
  padding-left: 0px;
}
/*graph css starts here*/
.draw_wrapper {
  height: calc(115vh - 335px) !important;
  /* width: 100%; */
}
.drawflow .drawflow-node.selected {
  border: 1px solid #e2e2f7 !important;
  -webkit-box-shadow: 0 2px 20px 2px #e2e2f7 !important;
  box-shadow: 0 2px 20px 2px #e2e2f7 !important;
}

.drawflow_content_node > .card .card-body {
  margin-top: 1rem;
  padding: 2rem 1rem 5px;
  border: 2px solid #e2e2f7;
}
.drawflow_content_node > .card .card-header {
  background-color: #e2e2f7;
  color: #000053;
  font-weight: bold;
}
.drawflow {
  top: 0em;
}

.draw_wrapper {
  height: calc(115vh - 335px) !important;
}

.btn-lock,
.bar-zoom {
  background: #f78b0b !important;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 5px;
  border-radius: 0.2em;
}
.bar-zoom > i {
  font-size: 1.5rem;
  padding: 5px;
  color: #ffffff;
}
.btn-lock > i {
  font-size: 1.5rem;
  padding: 5px;
  color: #ffffff;
}

.drag-drawflow {
  line-height: 30px !important;
  text-align: center;
}

.btnsd {
  width: 100%;
  margin-left: -5px !important;
}

button#add_to_chat {
  margin-left: 10px;
}
.drawflow-node textarea {
  height: 70px !important;
}

.drawflow .connection .main-path {
  stroke: rgb(5 26 121) !important;
}
#drawflow {
  top: 0px !important;
}
/*graph css starts here*/
#drawflow {
  position: relative;
  /* width: calc(100vw - 301px); */
  /* height: calc(100% - 50px); */
  height: 100% !important;
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }
  .col .drag-drawflow span {
    display: none;
  }
  #drawflow {
    width: calc(100vw - 51px);
  }
}

/* Editing Drawflow */

.drawflow .drawflow-node {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color);
  padding: 0px;
  width: 200px;
}

.drawflow .drawflow-node.selected {
  background: white;
  border: 1px solid #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .title-box {
  color: #22598c;
  /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  height: 15px;
  width: 15px;
  /* border: 2px solid var(--border-color); */
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
  background: #8080ff;
}

.drawflow .drawflow-node .output {
  right: 10px;
  background: #bbbbff;
}

.drawflow .drawflow-node .input {
  left: -10px;
  background: white;
}

.drawflow > .drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: var(--background-box-title);
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}
.drawflow .title-box svg {
  position: initial;
}
.drawflow-node .box {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  color: #555555;
}
.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.welcome {
  width: 250px;
}

.drawflow-node.slack .title-box {
  border-radius: 4px;
}

.drawflow-node textarea {
  height: 100px;
}

.drawflow-node.personalized {
  background: red;
  height: 200px;
  text-align: center;
  color: white;
}
.drawflow-node.personalized .input {
  background: yellow;
}
.drawflow-node.personalized .output {
  background: green;
}

.drawflow-node.personalized.selected {
  background: blue;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #4ea9ff;
}
